<div class="card-inner">
  <div class="image-wrapper">
    <img src="{{avatar_url}}" alt="{{username}}">
  </div>
  <div class="content">
    <p>{{name}} (<a href="{{github_url}}">{{username}}</a>)</p>
    <p class="company">{{company}}</p>
    <p>{{location}}</p>
    <div class="loves">
      <a href="#" class="send-love" title="Give {{username}} some more love!">{{love}} <i class="fa fa-heart"></i></a>
    </div>
  </div>
  <div class="links">
    {{#if blog_url}}
    <a href="{{blog_url}}" target="_blank" title="{{username}}'s blog"><i class="fa fa-external-link-square fa-lg"></i></a>
    {{/if}}
    <a href="https://www.gittip.com/{{username}}" target="_blank" title="{{username}} on GitTip"><i class="fa fa-github fa-lg"></i></a>
  </div>
</div>