<img src="{{avatar_url}}" alt="{{username}}">
<div class="content">
  <p>{{name}} ({{username}})</p>
  <p>{{company}}</p>
  <p>{{location}}</p>
  <div class="loves">
    <a href="#" class="send-love">{{love}} ❤'s</a>
  </div>
</div>